:root {
    --jet-color: #333;
    --indigo-dye: #003f6f;
    --mauve: #E2BBF2;
    --lavender: #7B77D8;
    --rosewood: #6E1717;
    --cool-gray: #7b80a6;
    --celeste: #B1F7FF;
}

/* font-family: 'Roboto Mono', monospace; */
@font-face {
    font-family: "VCR";
    src: url(resources/fonts/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Universal styles */

.glitch-style {
    padding: 3rem 0 2rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: "VCR", sans-serif;
    text-shadow: 
        0.10em 0 0 rgba(0, 255, 0, 0.6), 
        -0.15em -0.05em 0 rgba(255, 0, 0, 0.6), 
        0 0 1em rgba(0, 0, 0, 1);
    letter-spacing: 3px;
}

@keyframes glitch-animation {
    0% {
        text-shadow: 
        0.01em -0.0em 0 rgba(0, 255, 0, 0.6), 
        -0.002em -0.025em 0 rgba(255, 0, 0, 0.6) 
    }
    15% {
        text-shadow: 
        0.015em -0.005em 0.01em rgba(0, 255, 0, 0.6), 
        -0.03em 0.01em 0.01em rgba(255, 0, 0, 0.6) 
    }
    60% {
        text-shadow: 
        0.03em -0.001em 0 rgba(0, 255, 0, 0.6), 
        0 -0.03em 0 rgba(255, 0, 0, 0.6) 
    }
    100% {
        text-shadow: 
        0.01em -0.011em 0 rgba(0, 255, 0, 0.6), 
        0em -0.025em 0.15em rgba(255, 0, 0, 0.6) 
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: ease-in-out 750ms;
}

.show {
    filter: blur(0);
    opacity: 1;
}

/* Nav bar */

header nav {
    display: flex; 
    justify-content: center;
    font-family: "VCR";
    text-transform: uppercase;
    background-color: #333;
    color: white;
}

nav ol {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
}

li {
    padding: 0.75rem 0;
}

/* Hero */

/* svg is used to create glitchy effect on the page */

svg {
    height: 0;
}

section.hero-section {
    position: relative;
    background: no-repeat url(resources/img/8bit_helsinki_tuomiokirkko.jpeg)
    center/cover;
}

.noise-filter {
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(5px);
    background: url(resources/img/noise.gif);
    width: 100%;
    height: 100%;
    opacity: 0.03;
    z-index: 10;
}

.hero-section {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.hero-section .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "VCR", sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 8rem 1rem;
    filter: url(#wavy) drop-shadow(0 0 1em black);

}

.hero-section h1 {
    position: relative;
    margin-bottom: 2rem;
    font-size: 5rem;
}

.hero-section h2 {
    position: relative;
    animation: glitch-animation 300ms infinite ease-in-out;
}

h1 > span,
h2 > span {
    position: absolute;
    top: 0;
    left: 0;
}

h1 span:first-child,
h2 span:first-child {
    animation: glitch-animation 500ms infinite linear;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(0.03em, 0.03em);
    opacity: 0.4;
}

h1 span:last-child,
h2 span:last-child {
    animation: glitch-animation 700ms infinite alternate;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 60%);
    transform: translate(-0.03em, -0.03em);
    opacity: 0.4;
}

.hero-section h2 {
    font-size: 3rem;
}

/* Projects section */

section.projects-section {
    background: var(--indigo-dye);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-carousel {
    display: flex;
    padding: 2rem 0;
    width: 100%;
    align-items: space-evenly;
    overflow: scroll;
    gap: 2%;
}

.project-card h3 {
    display: flex;
    border-top: black solid 5px;
    background-color: #999;
    justify-content: center;
    width: 100%;
}

.project-card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-width: 250px;
    height: 250px;
    font-family: "VCR", sans-serif;
    text-transform: uppercase;
    border: 5px solid #000;
    background: #FFF;
}

.project-card.active {
    opacity: 1;
    transition: 200ms ease-in-out;
}

.project-card.inactive {
    opacity: 0.5;
}

/* Project thumbnails */

#pokedex {
    background: no-repeat url(resources/img/project_screenshots/pokedex_screenshot.png) center/cover;
}

#speedgame {
    background: no-repeat url(resources/img/project_screenshots/nopeustesti_screenshot.png) center/cover;
}

.project-card:first-child {
    margin-left: 7.5%;
}

.project-card:last-child {
    margin-right: 7.5%;
}

.section-text-container {
    font-family: 'Roboto Mono', monospace;
    color: white;
    width: 85%;
}

section h2 {

}

.section-text-container h3 {
    padding: 1rem 0 2rem;
}

p {
    padding: 1rem 0;
}

p:last-child {
    margin-bottom: 5rem;
}

/* About me section */

section.about-section {
    background: linear-gradient(24deg, 
    rgba(151,71,255,1) 0%, 
    rgb(244, 98, 244) 33%, 
    rgba(230,71,255,1) 66%, 
    rgba(0,212,255,1) 100%);
    background-size: 600%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: background-animation 10s infinite alternate ease-in-out;
}

@keyframes background-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

/* Form section */

section.form-section {
    background-color: var(--indigo-dye);
}

.form-section h2 {
    padding: 1.5rem;
    text-align: center;
}

section.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
}

form {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label-container {
    margin: 1.5rem;
    vertical-align: center;
}

label {
    font-family: 'Roboto Mono', monospace;
    color: white;
    display: inline-block;
    font-size: 1.125rem;
    width: 150px;
}

label + textarea {
    display: inline-block;
    vertical-align: top;
}

input,
textarea {
    padding: 0.5rem;
    width: 300px;
}

button.submit-button {
    font-family: inherit;
    padding: 0.5rem;
    align-self: center;
    margin: 1.5rem 0;
}

/* Media queries */

@media screen and (min-width: 800px) {
    .text-container,
    .section-text-container {
        max-width: 800px;
    }

    .text-container {
        display: flex;
        justify-content: center;
    }


}

@media screen and (min-width: 1300px) {



    .project-card {
        min-width: 400px;
        height: 400px;
    }

    .project-card h3 {
        font-size: 2rem;
    }
}