:root {
    --jet-color: #333;
    --indigo-dye: #003f6f;
    --mauve: #E2BBF2;
    --deep-blue: #091728;
    --cherry-chopstick: #f29599;
    --sunset-violet: #9a4d9a;
    --lavender: #7B77D8;
    --rosewood: #6E1717;
    --cool-gray: #7b80a6;
    --celeste: #B1F7FF;
    --active_hover_and_transition: 200ms ease-in-out;
}

html {
    scroll-behavior: smooth;
}

/* font-family: 'Roboto Mono', monospace; */
@font-face {
    font-family: "VCR";
    src: url(resources/fonts/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Universal styles */

.glitch-style {
    padding: 3rem 0 2rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: "VCR", sans-serif;
    text-shadow: 
        0.10em 0 0 rgba(0, 255, 0, 0.6), 
        -0.15em -0.05em 0 rgba(255, 0, 0, 0.6);
    letter-spacing: 3px;
}

@keyframes glitch-animation {
    0% {
        text-shadow: 
        0.01em -0.0em 0 rgba(0, 255, 0, 0.6), 
        -0.002em -0.025em 0 rgba(255, 0, 0, 0.6) 
    }
    15% {
        text-shadow: 
        0.015em -0.005em 0.01em rgba(0, 255, 0, 0.6), 
        -0.03em 0.01em 0.01em rgba(255, 0, 0, 0.6) 
    }
    60% {
        text-shadow: 
        0.03em -0.001em 0 rgba(0, 255, 0, 0.6), 
        0 -0.03em 0 rgba(255, 0, 0, 0.6) 
    }
    100% {
        text-shadow: 
        0.01em -0.011em 0 rgba(0, 255, 0, 0.6), 
        0em -0.025em 0.15em rgba(255, 0, 0, 0.6) 
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: ease-in-out 750ms;
}

.show {
    filter: blur(0);
    opacity: 1;
}

/* Nav bar */

nav {
    min-height: 3rem;

}

header nav {
    display: flex; 
    justify-content: center;
    font-family: "VCR";
    text-transform: uppercase;
    background-color: var(--indigo-dye);
    color: white;
}

nav ul {
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
}

.navbar-links {
    flex-direction: column;
    align-items: center;
    display: none;
    width: 100%;
}

.navbar-links.visible {
    display: flex;
}

li {
    padding: 0.75rem 0;
    font-size: 1.5rem;
    color: var(--celeste);
}

li a {
    color: inherit;
    text-decoration: none;
    transition: var(--active_hover_and_transition);
}

li a:hover {
    color: var(--mauve);
}

.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 21px;
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    background-color: none;
}

.toggle-button .bar {
    height: 5px;
    width: 100%;
    background-color: var(--celeste);
}

/* Hero */

/* svg is used to create glitchy effect on the page */

svg {
    height: 0;
    width: 0;
}

section.hero-section {
    position: relative;
    background: no-repeat url(resources/img/8bit_helsinki_tuomiokirkko.jpeg)
    center/cover;
}

.noise-filter {
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(5px);
    background: url(resources/img/noise.gif);
    width: 100%;
    height: 100%;
    opacity: 0.03;
    z-index: 10;
}

.hero-section {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.hero-section .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "VCR", sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 8rem 1rem;
    filter: url(#wavy) drop-shadow(0 0 1em black);

}

.hero-section h1 {
    position: relative;
    margin-bottom: 2rem;
    font-size: 5rem;
}

.hero-section h2 {
    position: relative;
    animation: glitch-animation 300ms infinite ease-in-out;
}

h1 > span,
h2 > span {
    position: absolute;
    top: 0;
    left: 0;
}

h1 span:first-child,
h2 span:first-child {
    animation: glitch-animation 500ms infinite linear;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(0.03em, 0.03em);
    opacity: 0.4;
}

h1 span:last-child,
h2 span:last-child {
    animation: glitch-animation 700ms infinite alternate;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 60%);
    transform: translate(-0.03em, -0.03em);
    opacity: 0.4;
}

.hero-section h2 {
    font-size: 3rem;
}

/* Skills section */

section.skills-section {
    background: var(--cherry-chopstick);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-section-container {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;

}

.skill-card-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    margin-bottom: 5rem;
    width: 45%;
    align-items: space-between;
}

.skill-bar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 2rem;
    font-family: "VCR", sans-serif;
    text-transform: uppercase;
    border: 5px solid #000;
    background: #FFF;
}

.skill-name {
    display: inline-block;
    font-family: "VCR", sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
}

.skill-list-item {
    padding: 1rem 0;
}

.skill-level {
    background-color: var(--sunset-violet);
    flex-direction: row;
    justify-self: flex-start;
    height: 100%;
}

.skill-list-item:first-child
 {
    transition-delay: 500ms;
}
.skill-list-item:nth-child(2) {
    transition-delay: 750ms;
}
.skill-list-item:nth-child(3) {
    transition-delay: 1000ms;
}
.skill-list-item:nth-child(4) {
    transition-delay: 1250ms;
}

.skill-card-container:nth-child(2) .skill-list-item:first-child {
    transition-delay: 1500ms;
}
.skill-card-container:nth-child(2) .skill-list-item:nth-child(2) {
    transition-delay: 1750ms;
}
.skill-card-container:nth-child(2) .skill-list-item:nth-child(3) {
    transition-delay: 2000ms;
}

.skill-card-container:nth-child(2) .skill-list-item:nth-child(4) {
    transition-delay: 2250ms;
}

#javascript {
    width: 60%;
}

#html {
    width: 80%;
    transition-delay: 175ms;
}

#css {
    width: 50%;
}

#java {
    width: 30%;
}

#python {
    width: 15%;
}

#figma {
    width: 60%;
}

#git {
    width: 50%;
}

#teaching {
    width: 70%;
}

/* Projects section */

section.projects-section {
    background: var(--indigo-dye);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-carousel {
    display: flex;
    padding: 2rem 0;
    width: 100%;
    align-items: space-evenly;
    overflow: scroll;
    gap: 2%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.projects-carousel::-webkit-scrollbar {
    display: none;
}

.project-card h3 {
    display: flex;
    border-top: black solid 5px;
    background-color: #999;
    justify-content: center;
    width: 100%;
}

.project-card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-width: 250px;
    height: 250px;
    font-family: "VCR", sans-serif;
    text-transform: uppercase;
    border: 5px solid #000;
    background: #FFF;
}

.project-card.active {
    opacity: 1;
    transition: var(--active_hover_and_transition);
}

.project-card.inactive {
    opacity: 0.5;
}

/* Project thumbnails */

#pokedex {
    background: no-repeat url(resources/img/project_screenshots/pokedex_screenshot.png) center/cover;
}

#speedgame {
    background: no-repeat url(resources/img/project_screenshots/nopeustesti_screenshot.png) center/cover;
}

.project-card:first-child {
    margin-left: 7.5%;
}

.project-card:last-child {
    margin-right: 7.5%;
}

.section-text-container {
    font-family: 'Roboto Mono', monospace;
    color: white;
    width: 85%;
}

.section-text-container h3 {
    padding: 1rem 0 2rem;
}

p {
    padding: 1rem 0;
}

p:last-child {
    margin-bottom: 5rem;
}

/* About me section */

section.about-section {
    background: linear-gradient(24deg, 
    rgba(151,71,255,1) 0%, 
    rgb(244, 98, 244) 33%, 
    rgba(230,71,255,1) 66%, 
    rgba(0,212,255,1) 100%);
    background-size: 600%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: background-animation 10s infinite alternate ease-in-out;
}

@keyframes background-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

/* Form section */

section.form-section {
    border-radius: none;
    background-color: var(--indigo-dye);
}

.form-section h2 {
    padding: 1.5rem;
    text-align: center;
}

section.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
}

form {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label-container {
    margin: 1.5rem;
    text-align: center;
}

label {
    font-family: 'Roboto Mono', monospace;
    color: white;
    display: inline-block;
    font-size: 1.125rem;
    width: 150px;
    margin-bottom: 1rem;
}

label + textarea {
    display: inline-block;
    vertical-align: top;
}

input,
textarea {
    padding: 0.5rem;
    width: 300px;
}

button.submit-button {
    border-radius: inherit;
    font-family: inherit;
    border: 1px solid var(--jet-color);
    padding: 0.5rem;
    align-self: center;
    margin: 1.5rem 0;
}

/* Media queries */

@media screen and (min-width: 600px) {
    header nav {
        min-height: 3rem;
        display: flex;
        justify-content: center;
        font-family: "VCR";
        text-transform: uppercase;
        background-color: var(--indigo-dye);
        color: white;
    }
    
    .navbar-links {
        display: flex;
        flex-direction: row;
        align-items: space-around;
    }
    
    .navbar-links.visible {
        display: flex;
    }
    
    li {
        padding: 0.75rem 0;
        font-size: 1.5rem;
        color: var(--celeste);
    }
    
    li a {
        color: inherit;
        text-decoration: none;
        transition: var(--active_hover_and_transition);
    }

    .toggle-button {
        display: none;
    }

    .label-container {
    margin: 1.5rem;
    vertical-align: center;
}
    
}

@media screen and (min-width: 800px) {

    .text-container,
    .section-text-container {
        max-width: 800px;
    }

    .text-container {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1300px) {

    .project-card {
        min-width: 400px;
        height: 400px;
    }

    .project-card h3 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 2180px) {
    
    .projects-carousel {
        align-items: center;
        justify-content: center;
        overflow: hidden;
        gap: 2%;
    }

    .project-card:first-child {
        margin-left: 0;
    }
    
    .project-card:last-child {
        margin-right: 0;
    }
}